<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <div class="note">
            <div class="detail">            
                <div class="flowerPic">
                    <img src="<%=flower.img%>">
                    <div id="actions">
                        <a href="/flowers/<%=flower._id %>/edit"><button>EDIT</button></a>
                        <form action="/flowers/<%=flower._id; %>?_method=DELETE" method="POST">
                            <button type="submit" value="DELETE">DELETE</button>
                        </form>
                    </div>
                </div> 
                <div class="flowerDetail">
                    <h2><%= flower.name %></h2>
                    <p><%= flower.description %> </p>
                    <div id="buy">
                        <h3>$<%= flower.price %></h3>
                        <form action="/flowers/<%= flower.id %>?_method=put" method="POST">
                            <% if (flower.qty > 0) { %>
                                <div class="buy">
                                <input id="qty" type="number" name="qty" value="1">
                                <button type="submit"><img src="/static/images/shopping-cart.png"> BUY</button></div>
                            <% } else if (flower.qty <= 0) {%> 
                                <h3>Out of Stock!</h3>
                            <% } %> 
                
                        </form> 
                    </div>
                    <h5>Items remaining <%= flower.qty %> </h5>
                </div>
            </div>
        </div>
    </main>
</body>