<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <div class="note">
            <div class="detail">            
                <div class="flowerPic">
                    <img src="<%=flower.img%>">
                    <div id="actions">
                        <a href="/flowers/<%=flower._id %>/edit"><button>EDIT</button></a>
                        <form action="/flowers/<%=flower._id; %>?_method=DELETE" method="POST">
                            <button type="submit" value="DELETE">DELETE</button>
                        </form>
                    </div>
                </div> 
                <div class="flowerDetail">
                    <h2><%= flower.name %></h2>
                    <p><%= flower.description %> </p>
                    <div id="buy"><h3>$<%= flower.price %></h3><button type="submit" method="POST"><img src="/static/images/shopping-cart.png"> BUY</button> </div>
                    <h5>Items remaining <%= flower.qty %> </h5>
                </div>
            </div>
        </div>
    </main>
</body>