<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main>
            <div class="note">
                <div><img class="logo" src="/static/images/flower_logo-01.png"></div>
                <div>
                    <h1 id="title">beautiful blooms</h1>
                    <p>grow your own beautiful blooms with our top-quality bulbs and seeds<br>shipped direct from our door to yours<br>
                </div>
            </div>
    </main>
    <div class="results">
            <div class="sortColors">

                <a href="javascript:void(0);" onclick="showRed()"><button class="redButton"></button></a>
                <a href="javascript:void(0);" onclick="showPink()"><button class="pinkButton"></button></a>
                <a href="javascript:void(0);" onclick="showOrange()"><button class="orangeButton"></button></a>
                <a href="javascript:void(0);" onclick="showYellow()"><button class="yellowButton"></button></a>
                <a href="javascript:void(0);" onclick="showbluePurple()"><button class="bluePurpleButton"></button></a>
                <a href="javascript:void(0);" onclick="showWhite()"><button class="whiteButton"></button></a>
            </div>
            <div id="products">
            <div id="productBoxes">
                <div><% flowers.forEach(flower => { %>
                <a href="/flowers/<%=flower._id; %>"> 
                    <img class="flowerImages" src="<%=flower.img; %>"></a>
                    <h3><%= flower.name %></h3><h4><%= flower.price %> </h4>
                 <% }) %></div> 
            </div>  
        </div>
     </div>
</body>