<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main>
            <div class="note">
                <div><img class="logo" src="/static/images/flower_logo-01.png"></div>
                <div>
                    <h1 id="title">beautiful blooms</h1>
                    <p>grow your own beautiful blooms with our top-quality bulbs, seeds and bare roots shipped direct from our door to yours<br>
                </div>
            </div>
    </main>
    <div class="results">
            <!-- <div class="sortColors"> -->
                <!-- <button id="grad1" data-sort="tags"></button>
                <button id="redButton" data-sort="tags"></button>
                <button id="pinkButton" data-sort="tags"></button>
                <button id="orangeButton" data-sort="tags"></button>
                <button id="yellowButton" data-sort="tags"></button>
                <button id="bluePurpleButton" data-sort="tags"></button>
                <button id="whiteButton" data-sort="tags"></button>
            </div> -->
            <div class="list" id="products">
            
                <% flowers.forEach(flower => { %>
                <a id="productBoxes" href="/flowers/<%=flower._id; %>"> 
                    <img class="flowerImages" src="<%=flower.img; %>">
                    <h4><%= flower.name %></h4><h5><%= flower.price %></h5><br> <h6 class="tags"><%= flower.tags %> </h6>
                </a>
                 <% }) %>
            </div>  
    </div>
</body>